@{
    ViewBag.Title = "Hello Mockups";
}

<h2 class="SUB-NAME">Mockups</h2>

<ul>
    <li><a asp-controller="Main" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="Main" asp-action="QuizResult">QuizResult</a></li>
</ul>